@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {

    .navbar-textlogo {
        font-size: 30px;
        margin: 10px;
        margin-left: 20px;
        position: absolute;
    }

    .imglogo {
        width: 60px;
    }

    .title {
        font-size: 50px;
        margin-top: 100px;
        padding: 8px;
    }

    .subtitle {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .downloadButton {
        margin-top: 100px;
        font-size: 30px;
    }

    .nav-list{
        display: none;
    }

    .nav-list.active {
        position: absolute;
        display: block;
        top: 60px;
        left: 0;
        right: 0px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0;
        background-color: #2d71b7;
        overflow: hidden;
        padding: 0;
        
    }
    .nav-list.active li {
        padding: 20px;
        text-decoration: none;
        list-style: none;
        transition: all 0.3s ease 0s;
    }


    .menuMobile {
        display: block;
        font-size: 30px;
    }

    .rectangle {
        flex-direction: column;
        align-items: center;
        margin: 20px !important;
    }

    .rectangle img {
        width: 100% !important;
    }

    .rect-textcontainer {
        margin: 10px !important;
    }

    .rect-title {
        font-size: 30px;
    }

    .rect-text {
        font-size: 20px;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {

    .navbar-textlogo {
        font-size: 30px;
        margin: 10px;
        margin-left: 20px;
        position: absolute;
    }

    .imglogo {
        width: 60px;
    }

    .title {
        font-size: 60px;
        margin-top: 100px;
        padding: 8px;
    }

    .subtitle {
        font-size: 30px;
    }

    .downloadButton {
        margin-top: 100px;
        font-size: 30px;
    }

    .nav-list{
        display: none;
    }

    .nav-list.active {
        position: absolute;
        display: block;
        top: 60px;
        left: 0;
        right: 0px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0;
        background-color: #2d71b7;
        overflow: hidden;
        padding: 0;
        
    }
    .nav-list.active li {
        padding: 20px;
        text-decoration: none;
        list-style: none;
        transition: all 0.3s ease 0s;
    }
    
    .menuMobile {
        display: block;
        font-size: 30px;
    }

    .rectangle {
        flex-direction: column;
        align-items: center;
    }

    .rectangle img {
        width: 100% !important;
    }

    .rect-title {
        font-size: 30px;
    }

    .rect-text {
        font-size: 20px;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){

    .navbar-textlogo {
        font-size: 30px;
        margin: 10px;
        margin-left: 20px;
        position: absolute;
    }

    .imglogo {
        width: 70px;
    }

    .title {
        font-size: 70px;
        margin-top: 100px;
        padding: 8px;
    }

    .subtitle {
        font-size: 40px;
    }

    .downloadButton {
        margin-top: 100px;
        font-size: 30px;
    }

    .nav-list{
        display: none;
    }
    
    .nav-list.active {
        position: absolute;
        display: block;
        top: 60px;
        left: 0;
        right: 0px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0;
        background-color: #2d71b7;
        overflow: hidden;
        padding: 0;
        
    }
    .nav-list.active li {
        padding: 20px;
        text-decoration: none;
        list-style: none;
        transition: all 0.3s ease 0s;
    }
    
    .menuMobile {
        display: block;
        font-size: 30px;
    }

    .rectangle {
        flex-direction: column;
        align-items: center;
    }

    .rectangle img {
        width: 100% !important;
    }

    .rect-title {
        font-size: 40px;
    }

    .rect-text {
        font-size: 30px;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1600px){

    .navbar-textlogo {
        font-size: 35px;
        margin: 15px;
        margin-left: 25px;
        position: absolute;
    }

    .imglogo {
        width: 75px;
    }

    .title {
        font-size: 80px;
        margin-top: 100px;
        padding: 8px;
    }

    .subtitle {
        font-size: 50px;
    }

    .downloadButton {
        margin-top: 100px;
        font-size: 35px;
    }

    .nav-list {
        list-style: none; 
      }

    .nav-list li {
        display: inline-block;
        padding: 0px 20px;
    }

    .nav-list li a {
        text-decoration: none;
        font-size: 25px;
        transition: all 0.3s ease 0s;
    }

    .menuMobile {
        display: none;
    }

    .rect-title {
        font-size: 40px;
    }

    .rect-text {
        font-size: 30px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1601px) {
    
    .navbar-textlogo {
        font-size: 40px;
        margin: 20px;
        margin-left: 25px;
        position: absolute;
    }

    .imglogo {
        width: 100px;
        margin-left: 150px;
    }

    .title {
        font-size: 80px;
        margin-top: 100px;
    }

    .subtitle {
        font-size: 30px;
    }

    .downloadButton {
        margin-top: 100px;
        font-size: 40px;
    }

    .nav-list {
        list-style: none; 
      }

    .nav-list li {
        display: inline-block;
        padding: 0px 20px;
    }

    .nav-list li a {
        text-decoration: none;
        font-size: 30px;
        transition: all 0.3s ease 0s;
    }

    .menuMobile {
        display: none;
    }

    .rect-title {
        font-size: 40px;
    }

    .rect-text {
        font-size: 30px;
    }

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
}

.container-header {
    text-align: center;
    align-items: center;
}

.rectangle{
    display: flex;
    background-color: #e0e0e0;
    box-shadow: 5px 5px 10px rgba(0.3, 0.3, 0.3, 0.3);
    border-radius: 15px;
    padding: 50px 50px;
    margin: 60px;
    margin-top: 80px;
    transition: all 0.3s ease 0s;
    align-items: center;
}
.rectangle img {
    max-width: 500px;
    border-radius: 15px;
    margin: 20px;
    height: auto;
    transition: all 0.3s ease 0s;
    
}


.navbar-textlogo {
    font-family: Titillium Web;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.3s ease 0s;
}

.menuMobile {
    cursor: pointer;
}

.imglogo {
    height: auto;
    transition: all 0.3s ease 0s;
}

.nav-list li a {
    font-family: Titillium Web;
    font-weight: 600;
    text-decoration: none;
}

.title {
    font-family: Titillium Web;
    font-weight: 600;
    color: rgb(75, 74, 74);
    transition: all 0.3s ease 0s;
}

.subtitle {
    font-family: Titillium Web;
    font-weight: 500;
    color: rgb(75, 74, 74);
    transition: all 0.3s ease 0s;
}


.rect-right {
    display: flex;
    justify-content: space-between;
    right: 0 !important;
}

.rect-textcontainer {
    margin: 50px;
}

.rect-title {
    font-family: Titillium Web;
    font-weight: 600;
}

.rect-text {
    font-family: Titillium Web;
    font-weight: 500;
}


.downloadButton {
    cursor: pointer;
    border: none;
    font-family: Titillium Web;
    font-weight: 600;
    outline: none;
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
    white-space: normal;
    transition: all 0.3s ease 0s;
}

.downloadButton:hover {
    background-color: #1d5a97 !important;
}